.notifier {
    position: relative;
}
.notifier .alert {
    overflow: hidden;
    position: fixed;
    top: 70px;
    z-index: 9999;
    min-width: 300px;
}
.closeBTN {
    position: absolute;
    right: 10px;
    bottom: -10px;
    z-index: 9999;
}
