
<div class="container-m-search">
    <div class="searchbox effect8"> 
        <div class="input-group stylish-input-group">
                <span class="input-group-addon">
                        <button mat-icon-button (click)="closesearch()">
                            <mat-icon>arrow_back <span>back</span></mat-icon>
                        </button>  
                    </span>
            <input type="text" class="form-control"  placeholder="Search" >
            <span class="input-group-addon">
                <button mat-icon-button type="submit">
                    <mat-icon>search</mat-icon>
                </button>  
            </span>
        </div>
    </div>
</div>
<ng-container>
    <main class="search-body">

            <div class="hd-s-1 menu-tabs-mobile">
                    <small class="text-center">Search for</small>
                   <mat-grid-list cols="4">
                            <mat-grid-tile><a mat-mini-fab color="primary"><mat-icon>place</mat-icon></a></mat-grid-tile>
                            <mat-grid-tile><a mat-mini-fab color="primary"><mat-icon>account_circle</mat-icon></a></mat-grid-tile>
                            <mat-grid-tile><a  mat-mini-fab color="primary"><mat-icon>&#xE030;</mat-icon></a></mat-grid-tile>
                            <mat-grid-tile><a  mat-mini-fab color="primary"><mat-icon>&#xE030;</mat-icon></a></mat-grid-tile>
                </mat-grid-list>
                </div>
        <div class="container">
        <div class="row">
        <div class="col">
        <ul class="search-results">
            <li>
                <a routerLink="">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                </a>
            </li>
            <li>
                <a routerLink="">
                    <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small>Donec id elit non mi porta.</small>
                    </a>
        </li>
        <li>
                <a routerLink="">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                </a>
        </li>
        <li>
                <a routerLink="">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                </a>
        </li>
        <li>
                <a routerLink="">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                </a>
            </li>
            <li>
                <a routerLink="">
                    <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small>Donec id elit non mi porta.</small>
                    </a>
        </li>
        <li>
                <a routerLink="">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                </a>
        </li>
        <li>
                <a routerLink="">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                </a>
        </li>
        </ul>

        </div>
        </div>
        </div>
    </main>
</ng-container>