<div class="card-header">
    <ul class="items-dealer">
     <li class="dicplay-2 font-weight-bold">
       <a routerLink=""> <span class="online-now primary-bg blink"></span> {{user0.displayName}}</a>
     </li>
     <li class="dicplay-2 font-weight-bold">
        <i class="fa fa-plus primary-text" aria-hidden="true"></i> {{positiveVoteCounts}}
     </li>
     <li class="dicplay-2 font-weight-bold">
        <i class="fa fa-minus text-danger" aria-hidden="true"></i> {{negativeVoteCounts}}
     </li>
     <li class="dicplay-2 font-weight-bold verify">
        <span class="fa fa-stack fa-lg primary-text">
            <i class="fa fa-certificate fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x fa-inverse"></i>
        </span> Verified!
      <!--<ng-container>
        <span class="fa fa-stack fa-lg">
            <i class="fa fa-certificate fa-stack-2x" style="color: gray"></i>
            <i class="fa fa-check fa-stack-1x fa-inverse fa-slash"></i>
        </span> Not Verified!
      </ng-container>-->
     </li>
    </ul>
      <button mat-icon-button class="text-right-btn" [matMenuTriggerFor]="menuUser"><mat-icon>keyboard_arrow_down</mat-icon></button>
  </div>
  <div class="card-block container">
    <div class="row mar-30">
      <div class="col-md-4">
          <img src="{{user0.photoURL}}" class="dealer-img rounded " alt="{{user0.displayName}}">
      </div>
      <div class="col-md-8">
         <ul class="no-padding dealer-details">
            <li>
                <a routerLink="" class="font-weight-bold"> {{user0.displayName}}</a><br>
                <em class="text-muted">ID: {{user0.uid}}</em><br>
                <span class="badge" [ngClass]="user0.verified.facebook ? 'badge-info' : 'badge-danger'"><i class="fa fa-facebook-square" aria-hidden="true"></i> 
                    {{ user0.verified.facebook ? "verified" : "not verified" }}
                </span>
                <span class="badge"  [ngClass]="user0.verified.twitter ? 'badge-info' : 'badge-danger'"><i class="fa fa-twitter-square" aria-hidden="true"></i>
                    {{ user0.verified.twitter ? "verified" : "not verified" }}
                </span>
                <span class="badge"  [ngClass]="user0.verified.email ? 'badge-info' : 'badge-danger'"><i class="fa fa-envelope" aria-hidden="true"></i> 
                    {{ user0.verified.email ? "verified" : "not verified" }}
                </span>
                <span class="badge" [ngClass]="user0.verified.phone ? 'badge-info' : 'badge-danger'"><i class="fa fa-phone-square" aria-hidden="true"></i> 
                    {{ user0.verified.phone ? "verified" : "not verified" }}
                </span>
            </li>
            <li>
                Available: {{user0.updatedAt | amTimeAgo | shorten: 20:'...' | ucfirst}}.
            </li>
            <li>
                Joined Date: <span class="text-muted">{{user0.createdAt | amDateFormat:'LL'}}</span>
            </li>
            <li>
                Country: <span class="text-muted" *ngIf="local | async as local">{{local.city}} / {{local.country}}</span>
            </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="text-center" *ngIf="auth.user | async as user">
         <app-voting [itemId]='user0?.uid' [userId]='user?.uid'></app-voting>
      </div>
      <blockquote class="blockquote">
          <p class="mb-0">Make sure you always read dealer's terms before you deal.</p>
          <footer class="blockquote-footer">Wildebeests <cite title="Source Title">Team</cite></footer>
        </blockquote>
        <mat-tab-group class="tab-group-s" >
        <mat-tab label="About me">
        <div class="tab-content">
          <div [innerHTML]="user0.bio"></div>
         </div>  
       </mat-tab>
            <mat-tab label="Reviews (83)"  class="clearfix">
              <div class="row pad-10">
                <div class="col-md-2">
                    <img src="./assets/img/avatar.png" class="dealer-img-1 rounded " alt="Cinque Terre">
                </div>
                <div class="col-md-10">
                   <a routerLink="">Oj Obasi</a> 
                   <i class="fa fa-minus-circle text-danger" aria-hidden="true"></i>
                   <div class="font-italic text-muted">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
                      Phasellus volutpat neque ac dui mattis vulputate.
                   </div>
                </div>
              </div>

              <div class="row pad-10">
                  <div class="col-md-2">
                      <img src="./assets/img/avatar.png" class="dealer-img-1 rounded " alt="Cinque Terre">
                  </div>
                  <div class="col-md-10">
                     <a routerLink="">Oj Obasi</a> 
                     <i class="fa fa-check-circle primary-text" aria-hidden="true"></i>
                     <div class="font-italic text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
                        Phasellus volutpat neque ac dui mattis vulputate.
                     </div>
                  </div>
                </div>

                <div class="row pad-10">
                    <div class="col-md-2">
                        <img src="./assets/img/avatar.png" class="dealer-img-1 rounded " alt="Cinque Terre">
                    </div>
                    <div class="col-md-10">
                       <a routerLink="">Oj Obasi</a> 
                       <i class="fa fa-check-circle primary-text" aria-hidden="true"></i>
                       <div class="font-italic text-muted">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
                          Phasellus volutpat neque ac dui mattis vulputate.
                       </div>
                    </div>
                  </div>
                
                  <div class="row pad-10">
                      <div class="col-md-2">
                          <img src="./assets/img/avatar.png" class="dealer-img-1 rounded " alt="Cinque Terre">
                      </div>
                      <div class="col-md-10">
                         <a routerLink="">Oj Obasi</a> 
                         <i class="fa fa-minus-circle text-danger" aria-hidden="true"></i>
                         <div class="font-italic text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
                            Phasellus volutpat neque ac dui mattis vulputate.
                         </div>
                      </div>
                    </div>
            </mat-tab>
           
          
           <!-- <mat-tab label="Tab 5">
              No content  
            </mat-tab>
            <mat-tab label="Tab 6">
              No content  
            </mat-tab>-->
          </mat-tab-group>
    </div>

  </div>
  <mat-menu #menuUser="matMenu" xPosition="before" >
    <span *ngIf="auth.user | async as user">
        <a mat-menu-item *ngIf="user0.uid !== user.uid"><i class="fa fa-flag-o" aria-hidden="true"></i> Report User</a>
        <a mat-menu-item *ngIf="user0.uid === user.uid" routerLink="/users/u/edit/{{user0.uid}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Profile</a>
        <a mat-menu-item *ngIf="user0.uid === user.uid"><i class="fa fa-level-up" aria-hidden="true"></i> Upgrade Profile</a>
      </span>
  </mat-menu> 