
<div *ngIf="auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
 </div>
 <ng-template #guest>
        <app-signup [heading]="heading"></app-signup>
 </ng-template>
 <ng-template #authenticated >
        <div fxLayout="column">
                <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                    <h3>
                     sssss
                    </h3>
                </div>
                <div fxLayout="row">
                    <div class="left" fxFlex="20"> LEFT: 20% wide </div>
                    <div class="right" fxFlex> RIGHT: 80% wide </div>
                </div>
              </div>
 </ng-template>
 
<!--<app-auth></app-auth>-->
<app-intro class="mar-30"></app-intro>