<div class="share-top">
<button mat-icon-button><mat-icon  class="primary-text">comment</mat-icon><span class="count">2226</span></button>
<button mat-icon-button><i class="fa fa-heart-o fa-2x text-warning" aria-hidden="true"></i><span class="count">2226</span></button>
<button mat-icon-button ><i class="fa fa-facebook fa-2x text-primary" aria-hidden="true"></i><span class="count">2226</span></button>
<button mat-icon-button><i class="fa fa-twitter fa-2x text-info" aria-hidden="true"></i><span class="count">2226</span></button>
<button mat-icon-button><i class="fa fa-envelope-o fa-2x text-muted" aria-hidden="true"></i><span class="count">2226</span></button>
</div>