<header class="desktop header">
    <mat-toolbar *ngIf="nav.visible && desktop"  class="fixed navbar-light border-top" 
    [ngClass]="{'isheaderUp animated finite slideInDown': isHeaderUp }" color="primary" >
    <div class=" container">
    <a class="navbar-brand" routerLink="/"><img src="./assets/{{logo}}" alt="Wildebeests"></a>
    <nav mat-tab-nav-bar>
        <a mat-tab-link routerLink="money">Send money</a>
        <a mat-tab-link routerLink="content">List a business </a>
        <a mat-tab-link routerLink="content/editor">Start a business</a>
    </nav>
        <span class="app-toolbar-filler-1"></span>
        <form class="Search">  
            
            <input type="text" class="Search-box" name="Search-box" id="Search-box" placeholder="Search this site...">  <label for="Search-box" class="Search-box-label">    
                <span class="Search-icon">Search</span>  </label>  
            <span class="Search-close"> <button type="submit" value="search" class="submit-button"><span class="Search-icon">Search</span></button> <!--<i class="Search-close-icon">Close</i>-->  </span></form>
          

          <span class="app-toolbar-filler"></span>
          <div *ngIf="auth.user | async; then authenticated else guest">
              <!-- template will replace this div -->
          </div>
        </div>
  </mat-toolbar>
  <mat-menu class="drop-1" #menuGuest="matMenu">
    <h3>Howdy, GUEST</h3>
    <p>Login to get started...</p>
    
    <a routerLink="/login" mat-raised-button color="primary">
        Login now
    </a>
  </mat-menu>
  <mat-menu class="drop-1" #menuUser="matMenu">
      <div *ngIf="auth.user | async as user">
          <mat-list>
              <mat-list-item>
                <img class="user-image"   [src]="user.photoURL" alt="{{user.displayName.username"> 
                <h4 mat-line class="font-weight-bold primary-text"> {{ user.displayName.username }}</h4>
                <p *ngIf="user" mat-line class="text-muted">Online: {{user.updatedAt | amTimeAgo | shorten: 10:'...' | ucfirst}} </p>
                <a *ngIf="user.roles.admin && user.roles.dealer" mat-line mat-raised-button color="primary" routerLink="users/d/1/{{user.uid}}">My Account</a>
                <a *ngIf="user.roles.dealer && !user.roles.admin" mat-line mat-raised-button color="primary" routerLink="users/d/0/{{user.uid}}">My Account</a>
                <a *ngIf="!user.roles.admin && !user.roles.dealer" mat-line mat-raised-button color="primary" routerLink="users/u/0/{{user.uid}}">My Account</a>
              </mat-list-item>
              <mat-list-item><mat-icon mat-list-icon>attach_money</mat-icon>  <a mat-line class="black" routerLink="money">Send money</a> </mat-list-item>
              <mat-list-item><mat-icon mat-list-icon>folder</mat-icon>  <a mat-line class="black" routerLink="/content/editor">Write a blog</a> </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><mat-icon mat-list-icon>settings</mat-icon> <a mat-line class="black" routerLink="/">Setting</a> </mat-list-item>
              <mat-list-item class="text-center"><button (click)="auth.signOut()" mat-button color="warn">Logout</button></mat-list-item>
          </mat-list>
      </div>
  </mat-menu>
<!-- User NOT logged in -->
<ng-template #guest>
    <div class="navbar-text">
        <div class="name-text">Howdy, GUEST 
            <button mat-icon-button [matMenuTriggerFor]="menuGuest" class="c menu-lang"  xPosition="before"><img class="img-thumbnail user-image"
                 src="./assets/img/avatar.png" alt="Username" (contextmenu)="showmenu()">
            </button>
        </div> 
    </div>
</ng-template>
<!-- User logged in -->
<ng-template #authenticated>
        <div class="navbar-text">
            <div *ngIf="auth.user | async as user" class="name-text" >{{ user.displayName.username  | shorten: 8: '' }}
                <button mat-icon-button [matMenuTriggerFor]="menuUser" class="c menu-lang" xPosition="before" (contextmenu)="showmenu()"> <img class="img-thumbnail user-image" [src]="user.photoURL" alt="{{ user.displayName }}">
                </button>
            </div> 
        </div>
</ng-template>
<app-notify></app-notify>
</header>
