.mat-toolbar {
    box-shadow: 0 1px 0 #015045 , 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
    padding: 5px 0 0 0;
}

.mat-tab-nav-bar {
    border-bottom: none !important;
    padding-top: 3px;
    color: #fff;
}
a.mat-tab-link {
    color: #fff;
    opacity: .9;
}
.hd {
    padding: 0 10px;
}
.fixed  {
    position: fixed !important;
    top: 0px;
    z-index:9999;
 }
 .app-toolbar-filler {
    flex: 1 1 auto;
  }
  .app-toolbar-filler-1 {
    flex: 6 0 auto;
  }
  .mat-toolbar .container {
    position: relative;
    display: flex;
}
.border-top {
    border-bottom: 3px solid #00897b;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.isheaderUp {
    background: rgba(7, 7, 7, 0.788) !important;
    border-bottom: solid 5px #00897b;
    box-shadow: 0 0 0 4px rgba(45, 153, 97, 0), 0 4px 8px #07210d4f;
    -webkit-box-shadow:0 0 2px rgba(0,0,0,.14), 0 2px 4px rgba(0,0,0,.28);
    -moz-box-shadow:    0 0 2px rgba(0,0,0,.14), 0 2px 4px rgba(0,0,0,.28);    
    box-shadow: 0 0 2px rgba(0,0,0,.14), 0 2px 4px rgba(0,0,0,.28);
}
.isheaderUp .nav-link,  .isheaderUp .menu-lang  mat-icon, .isheaderUp .navbar-toggler {
    color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) !important;
}
.user-image {
    width: 40px;
    height: 40px;
    margin-top: -5px;
    border-radius: 100%;
}
.menu-lang mat-icon{
    position: relative;
    color: #333 !important;
    font-size: 2em !important;
    font-weight: bolder;
}
.navbar-brand {
    font-weight: bold;
    line-height: 2;
    color: #fff;
}

.name-text{
    color: #fff;
}
.navbar-brand span, .isheaderUp .navbar-brand span, .isheaderUp .name-text {
    color: #00897b;
}
.navbar-brand span{
    color: #000;
}

.isheaderUp .navbar-brand {
    color: rgb(207, 207, 207);
}

.footer {
    width: 100%;
    background:url('./../../../../assets/img/listings.png') repeat; background-attachment:fixed;
}
.footer-2 {
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.932);
    color: #fff;
}
.foot-last {
    padding: 20px 0;
    background: rgb(36, 35, 35);
    color: #ccc;
}
.contact-ul {
    list-style: none;
    padding: 10px 0 0 0;
    color: #ccc;
}
.contact-ul li {
    line-height: 3;
}
.def-text{
    color: #666;
}
.padding-form{
    padding:10px 0 0 0;
}
.nav-footer  {
   list-style: none;
   padding: 0;
   
}
.Search {
    position: relative;
    width: 200px;
    height: 50px;
    border: 0;
    background-color: #eee;
    border-radius: 4px;
  }
  
  .Search-box {
    position: absolute;
    top: 0;
    border-radius: 4px;
    right: 50px;
    float: left;
    width: 100%;
    height: 50px;
    border: 0;
    outline: 0;
    padding-left: 0.75rem;
    font-style: italic;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 9;
    -webkit-transition: -webkit-transform ease 2s;
    transition: -webkit-transform ease 2s;
    transition: transform ease 2s;
    transition: transform ease 2s, -webkit-transform ease 2s;
    z-index: 999;
    background-color: #eee;
  }
  .Search-box:focus {
    width: 770px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
     -webkit-transition: width ease 2s;
    transition: width ease 2s;
    transition: width ease 2s;
    transition: width ease 2s, width ease 2s;
    opacity: 1;
    top: 0;
  }
  @media screen and (max-width: 1200px){
    .Search {
        position: relative;
        width: 150px;
    }
    .Search-box {
        right: 40px;
        width:90%;
    }
    .Search-box:focus {
        width: 570px;
    }
  }
  .Search-box:focus + .Search-box-label {
    z-index: -1;
    opacity: 0;
  }
  .Search-box:focus ~ .Search-close {
    z-index: 3;
    opacity: 1;
  }
  
  .Search-box-label,
  .Search-close {
    position: absolute;
    right: 0;
    z-index: 2;
    cursor: pointer;
    height: 100%;
    width: 3rem;
    -webkit-transition: opacity ease 250ms 250ms;
    transition: opacity ease 250ms 250ms;
    -webkit-transition: width ease 2s;
    transition: width ease 2s;
    transition: width ease 2s;
    transition: width ease 2s, width ease 2s;
  }
  
  .submit-button {
    position: absolute;
    right: 0;
    z-index: 9999;
    cursor: pointer;
    height: 100%;
    width: 3rem;
    -webkit-transition: opacity ease 250ms 250ms;
    transition: opacity ease 250ms 250ms;
    background: transparent;
    padding: 0;
    border: none;
   
  }
  .Search-close {
    opacity: 0;
    z-index: 0;
  }
  
  .Search-icon,
  .Search-close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 22 22' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><path fill='#555' d='M15.477 13.356C16.437 11.98 17 10.306 17 8.5 17 3.806 13.194 0 8.5 0S0 3.806 0 8.5 3.806 17 8.5 17c1.805 0 3.48-.563 4.855-1.522l6.304 6.303c.114.12.3.12.42 0l1.7-1.696c.116-.116.11-.31 0-.423l-6.305-6.303zM8.5 15c3.59 0 6.5-2.91 6.5-6.5S12.09 2 8.5 2 2 4.91 2 8.5 4.91 15 8.5 15z' id='a'/></defs><g fill='none' fill-rule='evenodd'><use xlink:href='#a'/></g></svg>");
  }
  
  .Search-close-icon {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'><path fill='#555' d='M77.6 21.1l-28 28.1-28.1-28.1-1.9 1.9 28 28.1-28 28.1 1.9 1.9L49.6 53l28 28.1 2-1.9-28.1-28.1L79.6 23z'/></svg>");
  }
  
  .Search {
    content: "";
    display: table;
    clear: both;
  }
  
  .Search-icon,
  .Search-close-icon {
    text-indent: 100%;
    overflow: hidden;
  }
  
  .Search-icon,
  .Search-close-icon {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
  }
/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  margin-top: 7px;
}

.flexsearch--input {
    position: relative;
    right:0px;
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 40px; /*Make it bigger with focus*/
    padding: 0 10px 0 90px;
    border: none;
    border-radius: 4px !important; /* (height/2) + border-width */
    color: #c96aa4;
	font-size: 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
   background: rgba(233, 234, 235, 0.89);
   font-family: Monospace, Helvetica, sans-serif !important;
}
	

.flexsearch--submit-left {
  position: absolute;
	left: 0;
	top: 0px;
	display: block;
	width: 60px;
	height: 50px;
  padding: 0;
  border: none;
	background: transparent;
  color: #fcfcfc;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  cursor: pointer;
}
.flexsearch--input:focus .flexsearch--submit-left {
  color: #333;
}
.flexsearch--input:focus {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    color: #495057;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #666;  
}

input:-moz-placeholder {
  color: #666;
}
@media screen and (max-width: 1000px){
  .flexsearch--input{
    height: 40px !important;
    padding: 0 8px 0 80px;

}

.flexsearch--submit-left, .flexsearch--close {
    height: 40px !important;
}
.flexsearch--close {
    top: 10px !important;
}
}

/* Mobile Header Styles */

.mobile .isheaderUp .main-hd .mat-icon{
    color: #00897b;
    background: #bdbfc7;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 10px;
}
.tab-nav{
    padding-top: 65px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background: #00897b;
}

.tab-nav .mat-icon {
    color: #fff;
}
.mobile .header-2 {
    margin-top: 0px !important;
}


.tab-nav .mat-toolbar {
    background: #00897b !important;
    height: 40px;
}