
<header class="mobile header">
   <mat-toolbar *ngIf="nav.visible && mobile"  class="fixed hd navbar-light bg-faded" 
   [ngClass]="{'isheaderUp animated finite slideInDown': isHeaderUp }">
        <a mat-icon-button routerLink="search/mobile"><mat-icon color="primary">search</mat-icon></a>
       <span class="app-toolbar-filler"></span>
       
       <a class="navbar-brand" routerLink="/"><img src="./assets/{{logo}}" alt="Wildebeests"></a>
         <span class="app-toolbar-filler"></span>
         <div *ngIf="auth.user | async; then authenticated else guest">
                <!-- template will replace this div -->
         </div>
 </mat-toolbar>
 

<div *ngIf="nav.visible && mobile" class="tab-nav">
        <mat-toolbar>
        <div class="container">
        <a><mat-icon>home</mat-icon></a>
        <span class="app-toolbar-filler"></span>
        <a  ><mat-icon>place</mat-icon></a>
        <span class="app-toolbar-filler"></span>
        <a ><mat-icon>pages</mat-icon></a>
        <span class="app-toolbar-filler"></span>
        <a ><mat-icon>&#xE030;</mat-icon></a>
       </div>
    </mat-toolbar>
</div>

<mat-menu class="drop-1" #menuGuest="matMenu">
        <h3>Howdy, GUEST</h3>
        <p>Login to get started...</p>
        
        <a routerLink="/login" mat-raised-button color="primary">
                Login now
        </a>
 </mat-menu>
 <mat-menu class="drop-1" #menuUser="matMenu">
          <div *ngIf="auth.user | async as user">
                <mat-list>
                        <mat-list-item>
                          <img class="user-image"  [src]="user.photoURL" alt="{{user.displayName.username"> 
                          <h4 mat-line class="font-weight-bold primary-text"> {{ user.displayName.username }}</h4>
                          <p *ngIf="user" mat-line class="text-muted">Online: {{user.updatedAt | amTimeAgo | shorten: 10:'...' | ucfirst}} </p>
                          <a *ngIf="user.roles.admin && user.roles.dealer" mat-line mat-raised-button color="primary" routerLink="users/d/1/{{user.uid}}">My Account</a>
                          <a *ngIf="user.roles.dealer && !user.roles.admin" mat-line mat-raised-button color="primary" routerLink="users/d/0/{{user.uid}}">My Account</a>
                          <a *ngIf="!user.roles.admin && !user.roles.dealer" mat-line mat-raised-button color="primary" routerLink="users/u/0/{{user.uid}}">My Account</a>
                        </mat-list-item>
                        <mat-list-item><mat-icon mat-list-icon>attach_money</mat-icon>  <a mat-line class="black" routerLink="money">Send money</a> </mat-list-item>
                        <mat-list-item><mat-icon mat-list-icon>folder</mat-icon>  <a mat-line class="black" routerLink="/content/editor">Write a blog</a> </mat-list-item>
                        <mat-list-item><mat-icon mat-list-icon>place</mat-icon> <a  mat-line class="black" routerLink="/setting">List a place</a> </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item><mat-icon mat-list-icon>settings</mat-icon> <a mat-line class="black" routerLink="/setting">Setting</a> </mat-list-item>
                        <mat-list-item class="text-center"><button (click)="auth.signOut()" mat-button color="warn">Logout</button></mat-list-item>
                </mat-list>
          </div>
 </mat-menu>
    <!-- User NOT logged in -->
    <ng-template #guest>
        <div>
            <div color="primary">
                <button mat-icon-button [matMenuTriggerFor]="menuGuest" class="c menu-lang" xPosition="before"><img class="img-thumbnail user-image" src="./assets/img/avatar.png" alt="Username">
                </button>
            </div> 
        </div>
    </ng-template>
    <!-- User logged in -->
    <ng-template #authenticated>
            <div>
                <div *ngIf="auth.user | async as user" >
                    <button mat-icon-button [matMenuTriggerFor]="menuUser" class="c menu-lang" xPosition="before"> <img class="img-thumbnail user-image" [src]="user.photoURL" alt="{{ user.displayName.username }}">
                    </button>
                </div> 
            </div>
    </ng-template>
    <app-notify></app-notify>
</header>
  