<main class="main">
    <div class="container" *ngIf="!blogs">
      <div  class="wait loader">
      <app-LoadingWait></app-LoadingWait>
    </div>
    </div>
     
      <div class="container">
                    <div class="row mar-30">
                    <div  class=" col-md-3" 
                    *ngFor="let blog of blogs | async; let i = index"
                    >
                        <app-blogcard
                        (checked)="OnChecked($event)"
                        [blog]="blog"
                        ></app-blogcard>
                    </div>
                    </div>
      </div>
    </main>