
    <!-- /.card-columns -->
    <div class="card mat-elevation-z1">
      <div class="card-header clearfix">
          Quote
        <button class="pos-menu" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <img class="card-img-top img-fluid" src="{{blog.blogImg}}" alt="Card image cap">
      <div class="card-block clearfix">
        <h4 class="card-title clearfix h4"><a routerLink="{{blog.section | slugify }}/{{blog.title | slugify}}-{{blog.id}}">{{blog.title}}</a></h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <!--<button class="button is-danger" (click)="deleteBlog(blog.id)">DELETE</button>-->
      </div>
      <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item>
        <mat-icon>save</mat-icon>
        <span>Save</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>report</mat-icon>
        <span>Report post</span>
      </button>
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <button mat-button color="warn" class="button is-danger" (click)="deleteBlog(blog.id)">Edit</button>
      </button>
      <button mat-menu-item>
        <mat-icon>delete_forever</mat-icon>
        <button mat-button color="warn" class="button is-danger" (click)="deleteBlog(blog.id)">DELETE</button>
      </button>
    </mat-menu>
