ul.items-dealer {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.items-dealer li{
    display: inline-block;
    padding: 0 10px;
}

.fa-slash:after {
    content: ' ';
    display: block;
    position: absolute;
    top: -0.2em;
    left: .9em;
    border-radius: 2em;
    width: .2em;
    height: 2.3em;
    background-color: red;
    transform: rotateZ(-35deg);
}

.verify .fa-slash2:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 1em;
    border-radius: 2em;
    width: .2em;
    height: 2em;
    background-color: white;
    box-shadow: -0.1em 0 .1em gray;
    transform: rotateZ(-35deg);
}
img.dealer-img {
    width: 150px;
    height: 150px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.41);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.41);
}
img.dealer-img-1 {
    width: 50px;
    height: 50px;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}
.dealer-details li {
    padding: 5px 0;
}
.blockquote {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    border-left: 5px solid red;
    padding: 10px;
}
.text-box .form-control {
    border: 3px solid #c5c5c5;
    border-radius: 0.8rem;
}
.scroll-1 {
    max-height: 89%;
    margin-top: 30px;
}
.md-header {
    position: absolute;
    top: 0.1%;
    right: 0;
    left: 0;
    z-index: 9999 !important;
    background-color: rgb(238, 238, 238);
    clear: both;
    
}
.dealer-is {
    background: rgb(248, 246, 246);
}
.deal-01 {
    position: relative;
}
.finalize {
    position: absolute;
    right: 1px;
    top: -39px;
}
.finalized {
    background: #ccccdd;
}
.btn-m-1, .btn-m-2 {
    display: none;
}
@media screen and (max-width: 991px){
    .chat-page{
        display: block;
    }
    .left-1, .middle-1, .right-1 {
        width: 100%;
    }
    .left-1, .right-1 {
        display: none;
    }
    .pad-10 {
        padding: 30px 0;
    }
    .float-sm-right-l{
        float: right;
        position: absolute;
        top: -15px;
        right: 5px;
    }
    .pad-10-1 {
        padding-top: 20px ;
    }
    .md-header{
        position: absolute;
        top: 1%;
    }
    .scroll-1 {
        margin-top: 47px;
        max-height: 79%;
    }
   
   .btn-m-1 {
       display: inline-block;
       position: absolute;
       left: 5px;
       top:2px;
   }
   .btn-m-2 {
    display: inline-block;
    position: absolute;
    right: 5px;
    top:2px;
  }
  .left-1-m {
    -webkit-box-shadow: 10px 0 5px -2px #888;
    box-shadow: 10px 0 5px -2px #888;
    border-right: 1px solid #ccd;
    z-index: -1;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    overflow-x: scroll;
    padding-bottom: 70px;
  }

  .right-1-m{
    background: #eee;
    -webkit-box-shadow: 10px 0 5px -2px #888;
    box-shadow: 10px 0 5px -2px #888;
    border-right: 1px solid #ccd;
    z-index: -1;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    overflow-x: scroll;
    padding-bottom: 70px;
  }

}