.blog {
    padding-top: 20px;
}
.blog .display-4 {
    font-size: 2.5rem;
}
.blog-share {
    padding:10px 0 15px 0;
}

img.user-img {
    width: 35px;
    height: 35px;
}
.u-corner span {
    line-height: 2.4;
    margin-left: 5px;
}

.blog-side .card-block {
    padding: 0.3rem 1.5rem !important;
}
.ads {
    min-height: 300px;
}
.card-img-top {
    width: 100%;
    max-height: 150px;
}
.card-title {
  font-size: 1em;
}
.mar-30 {
    margin: 15px 0 !important;
}
.divider {
    margin: 10px auto;
    border-bottom: 2px solid #00897b;;
}
.comment-box .card .card-block{
    padding: 0px !important
}
.comment-box .card .card-block textarea{
    border: none !important;
    height: auto;
}
.comment-box button {
    position: relative;
    top: -40px;
    right: 20px;
}
img.user-img-c {
 width: 60px;
 height:60px;

}


.ads-w100 {
    height: 150px;
    width:100%;
}
.ads-w100 .card {
    height: 100%;
    background: #707272;
}
@media screen and (max-width: 991px){
    .blog .display-4 {
        font-size: 1.5rem;
    }
    .u-corner {
        margin-bottom: 14px;
    }
    .blog-share {
        text-align: center;
    }
}

