<main class="main">
  <div class="container">
    <div class="row blog">
      <div class="col-md-8">
        <h1 class="title display-4">
            Your Blog Needs A Title! Hello! Wildebeests. :) Start your Blog now!
        </h1>
            <div class="row blog-share">
              <div class="col-md-6">
                ddd <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
              <div class="col-md-6 text-md-left share-top">
                  <button mat-mini-fab><mat-icon  class="primary-text">comment</mat-icon></button>
                  <button mat-mini-fab ><mat-icon>favorite_border</mat-icon></button>
                  <button mat-mini-fab><span class="text-primary font-weight-bold">f</span></button>
                  <button mat-mini-fab ><span class="text-info font-weight-bold">t</span></button>
                  <button mat-mini-fab><i class="fa fa-twitter text-info" aria-hidden="true"></i></button>
                </div>
            </div>
        <div class="display-6">
          <p>
              Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style.
          </p>
          <p>
              Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style.
          </p>
          <p>
              Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style.
          </p>
          <p>
              Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style.
          </p>
          <p>
              Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style.
          </p>
          <p>
              Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style.
          </p>
          <p>
              Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style.
          </p>
          <p>
              Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        ads here
      </div>
    </div>
  </div>
</main>
