<main class="main">
  <div class="container">
    <div class="row blog">
      <div class="col-md-8">
        <h1 class="title display-4">
            Your Blog Needs A Title! Hello! Wildebeests. :) Start your Blog now!
        </h1>
            <div class="row blog-share">
              <div class="col-md-6">
                ddd
              </div>
              <div class="col-md-6 text-right">
                  <button mat-mini-fab color="primary"><mat-icon>comment</mat-icon></button>
                  <button mat-mini-fab color="primary"><mat-icon>favorite_border</mat-icon></button>
                  <button mat-mini-fab color="primary">fb</button>
                  <button mat-mini-fab color="accent">tw</button>
                  <button mat-mini-fab color="warn">gm</button>
                </div>
            </div>
        <div class="display-6">
          <p>
              Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style.
          </p>
          <p>
              Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style.
          </p>
          <p>
              Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style.
          </p>
          <p>
              Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style.
          </p>
          <p>
              Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style.
          </p>
          <p>
              Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style.
          </p>
          <p>
              Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style.
          </p>
          <p>
              Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        ads here
      </div>
    </div>
  </div>
</main>
