<main class="main chat-page">
  <div class="left-1 card" *ngIf="auth.user | async as user">
      <div class="card-header">
         <div class="dicplay-2 font-weight-bold">
            <span class="online-now primary-bg"></span> {{ user.displayName | shorten: 10: '...'}}
          </div>
          <button mat-icon-button class="text-right-btn" [matMenuTriggerFor]="menuSender"><mat-icon>keyboard_arrow_down</mat-icon></button>
      </div>
      <div class="card-block">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
  </div>
  <div class="middle-1">

  </div>
  <div class="right-1 card" *ngIf="auth.user | async as user">
      <div class="card-header">
        <ul class="items-dealer">
         <li class="dicplay-2 font-weight-bold">
           <a routerLink=""> <span class="online-now primary-bg blink"></span> {{ user.displayName | shorten: 10: '...'}}</a>
         </li>
         <li class="dicplay-2 font-weight-bold">
            <i class="fa fa-plus primary-text" aria-hidden="true"></i>3728
         </li>
         <li class="dicplay-2 font-weight-bold">
            <i class="fa fa-minus text-danger" aria-hidden="true"></i>3728
         </li>
         <li class="dicplay-2 font-weight-bold verify">
            <span class="fa fa-stack fa-lg primary-text">
                <i class="fa fa-certificate fa-stack-2x"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
            </span> Verified!
          <!--<ng-container>
            <span class="fa fa-stack fa-lg">
                <i class="fa fa-certificate fa-stack-2x" style="color: gray"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse fa-slash"></i>
            </span> Not Verified!
          </ng-container>-->
         </li>
        </ul>
          <button mat-icon-button class="text-right-btn" [matMenuTriggerFor]="menuDealer"><mat-icon>keyboard_arrow_down</mat-icon></button>
      </div>
      <div class="card-block container">
        <div class="row mar-30">
          <div class="col-md-4">
              <img src="./assets/img/avatar.png" class="dealer-img rounded " alt="Cinque Terre">
          </div>
          <div class="col-md-8">
             <ul class="no-padding dealer-details">
                <li>
                    <a routerLink="" class="font-weight-bold"> {{ user.displayName | shorten: 20: '...'}}</a><br>
                    <em class="text-muted">ID: {{user.uid}}</em>
                </li>
                <li>
                    Available: 1 min ago.
                </li>
                <li>
                    Joined Date: <span class="text-muted">July 1st, 2008</span>
                </li>
                <li>
                    Country: <span class="text-muted">Vietnam</span>
                </li>
            </ul>
          </div>
        </div>
        <div class="container">
            Day, month and four digit year, with dots, tabs or dashes Day, month and four digit year, with dots, tabs or dashes.
        </div>
        <div class="row mar-30">
            <div class="col-md-4">
                <img src="./assets/img/avatar.png" class="dealer-img rounded " alt="Cinque Terre">
            </div>
            <div class="col-md-8">
               <ul class="no-padding dealer-details">
                  <li>
                      <a routerLink="" class="font-weight-bold"> {{ user.displayName | shorten: 20: '...'}}</a><br>
                      <em class="text-muted">ID: {{user.uid}}</em>
                  </li>
                  <li>
                      Available: 1 min ago.
                  </li>
                  <li>
                      Joined Date: <span class="text-muted">July 1st, 2008</span>
                  </li>
                  <li>
                      Country: <span class="text-muted">Vietnam</span>
                  </li>
              </ul>
            </div>
          </div>
      </div>
  </div>
</main>

<mat-menu #menuSender="matMenu" xPosition="before">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu>
<mat-menu #menuDealer="matMenu" xPosition="before">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu>