.chat-page {
    position: fixed;
    height:100vh;
    width: 100%;
    background: #005048;
    z-index: 99;
    display: flex;
    height: 100%;
    bottom: 0px;
}
.left-1, .middle-1, .right-1 {
    height: 100vh;
}
.left-1 {
    width: 18%;
    -webkit-box-shadow: 10px 0 5px -2px #888;
          box-shadow: 10px 0 5px -2px #888;
          border-right: 1px solid #ccd;
          z-index: -1;
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
          overflow-x: scroll;
          padding-bottom: 70px;
}
.left-1 .mat-list .mat-list-item.mat-2-line{
    height: 40px !important;
}
.mat-list-item.active {
    border-left: 4px solid #005048;
}
.text-right-btn {
    position: absolute;
    right: 5px;
    top: 3px;
}
.middle-1 {
    position: relative;
    width: 52%;
    background: #eee;
    border-right: 1px solid #ccd;

}
.text-box {
    position:absolute;
    bottom:10%;
    right: 0;
    left: 0;
}
.right-1 {
    width: 30%;
    background: #eee;
    -webkit-box-shadow: 10px 0 5px -2px #888;
    box-shadow: 10px 0 5px -2px #888;
    border-right: 1px solid #ccd;
    z-index: -1;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    overflow-x: scroll;
    padding-bottom: 70px;
}
ul.items-dealer {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.items-dealer li{
    display: inline-block;
    padding: 0 10px;
}

.fa-slash:after {
    content: ' ';
    display: block;
    position: absolute;
    top: -0.2em;
    left: .9em;
    border-radius: 2em;
    width: .2em;
    height: 2.3em;
    background-color: red;
    transform: rotateZ(-35deg);
}

.verify .fa-slash2:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 1em;
    border-radius: 2em;
    width: .2em;
    height: 2em;
    background-color: white;
    box-shadow: -0.1em 0 .1em gray;
    transform: rotateZ(-35deg);
}
img.dealer-img {
    width: 150px;
    height: 150px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.41);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.41);
}
img.dealer-img-1 {
    width: 50px;
    height: 50px;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}
.dealer-details li {
    padding: 5px 0;
}
.blockquote {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    border-left: 5px solid red;
    padding: 10px;
}
