<div class="w-100 primary-bg header">
  <div class="h1 text-center">Edit Your Profile! Help Us Serve You Better</div>
</div>
<main class="main">
  <div class="container">
    <mat-card class="card">
      <div class="card-header">
        photo
      </div>
    </mat-card>
    <div class="row">
      <div class="col-md-6">
          <mat-card class="card">
              <div class="card-header">
                Locality
              </div>
            </mat-card>
      </div>
      <div class="col-md-6">
          <mat-card class="card">
              <div class="card-header">
                Links
              </div>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-card class="card">
                <div class="card-header">
                  Locality
                </div>
              </mat-card>
        </div>
        <div class="col-md-6">
            <mat-card class="card">
                <div class="card-header">
                  Links
                </div>
              </mat-card>
          </div>
      </div>
  </div>
</main>
