<div class="formReview">
    <form  [formGroup]="ratingform" (ngSubmit)="save()" >
       <mat-form-field class="w-100">
           <mat-select placeholder="Review Type" formControlName="typeRate" required>
              <mat-option value="Good">Good</mat-option>
              <mat-option value="Bad">Bad</mat-option>
           </mat-select>
            <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
      </mat-form-field>
      <mat-form-field class="w-100">
          <textarea matInput placeholder="Enter Your Comment!" #review formControlName="review"  required maxlength="150"></textarea>
          <mat-hint align="end">{{review.value?.length || 0}}/150</mat-hint>
          <div *ngIf="review.invalid && review.dirty" class="alert alert-danger">
                Please Enter a comment between 10 to 150 characters.
         </div>
       </mat-form-field>
      
       <div class="row">
           <div class="col text-sm-center">
            <fieldset class="rating">
                <ng-container  *ngFor="let num of [5, 4, 3, 2, 1]">
                    <!-- full star -->
                    <input 
                          formControlName="rating"
                          [id]="'star'+num"
                          [value]="num-0.5"
                          name="rating" 
                          type="radio" />
                    <label class="full" [for]="'star'+num"></label>
                    <!-- half star -->
                    <input 
                          formControlName="rating"
                          [value]="num-0.5"
                          [id]="'halfstar'+num" 
                          name="rating" 
                          type="radio"  />
                    <label class="half" [for]="'halfstar'+num"></label>
                </ng-container>
              </fieldset>
              {{ avgRating | async }}
          
           </div>
          
           <div class="col text-right text-sm-center">
                  <button mat-button color="primary" type="submit" [disabled]="!ratingform.valid">Add Review</button>
            </div>
       </div>
      </form>
</div>
<div class="row pad-10" *ngFor="let review  of reviews | async">
      <div class="col-md-2">
          <img src="./assets/img/avatar.png" class="dealer-img-1 rounded " alt="Cinque Terre">
      </div>
      <div class="col-md-10">
         <a routerLink="">Oj Obasi</a> 
         <i class="fa fa-minus-circle" [ngClass]="review.type === 'Bad' ? 'text-danger' : 'primary-text'" aria-hidden="true"></i>
         <span>{{review.rating}}</span>
         <div class="font-italic text-muted">
            {{review.review}}
         </div>
      </div>
    </div>
