<div class="w-100 acpt-1">
    <div class="container">
        <img src="./assets/assets/payment.png" alt="Sending methods">
    </div>
</div>
<main class="container home-1">
        <div class="container">
                <h2 class="font-weight-bold text-center mar-30">How <span class="primary-text">O</span>tenn Works For You. <br>Sending With Otenn is fast smooth and easy!</h2>
            
               <img src="./assets/assets/otenn.png" alt="Sending is easy with Otenn">
        </div>
    </main>
    <main class="home-02 mar-30">
        <div class="cover-home-02">
                <div class="container text-center">
                        <h3 class="font-weight-bold">And Yes! We also do listing!</h3>
                        <p>More than three thousands listing and more in our service.</p>
                        <div class="row">
                            <div class="col-md-4">
                                <span class="number-count font-weight-bold">293,368</span>
                                <div class="listing-name">Places Listed</div>
                            </div>
                            <div class="col-md-4">
                                    <span class="number-count font-weight-bold">293,368</span>
                                    <div class="listing-name">Community Pages</div>
                            </div>
                            <div class="col-md-4">
                                    <span class="number-count font-weight-bold">293,368</span>
                                    <div class="listing-name">Stared Ratings</div>
                            </div>
                        </div>
                    </div>
        </div>
    </main>
    <main class="home-2 mar-20">
        <div class="container text-center">
            <h3 class="font-weight-bold underline"><span class="primary-text">G</span>etting Started</h3>
            <p>We all have to start from somewhere!</p>
            <div class="row">
                <div class="col-md-12">
                    Get a start with our <a mat-button routerLink="signup">free account!</a>.<br>
                    Do you need any help? Go through our <a mat-button routerLink="userguide">user guide</a> for a quick tour. 
                </div>
            </div>
        </div>
    </main>
    
    <!--
          <div class="row">
                <div class="col-md-7">
                    <h2 class="font-weight-bold text-center">Few Words About Us</h2>
                    <p>
                            We're building bridges, unifying the one people Africa. Find People, places, business networks all in shakedown. 
                    </p>
                    <div class="row detail text-smo-center" >
                        <div class="col-md-1">
                            <mat-icon aria-hidden="true" color="primary">place</mat-icon>
                        </div>
                        <div class="col-md-11">
                            <h3 class="font-weight-bold">Find a Place</h3>
                            <p>
                                shakedown place finder, gives you access the thousands of African places, businesses listed online. Restaurants, transits, communities.
                            </p>
                        </div>
                    </div>
                    <div class="row detail text-smo-center" >
                            <div class="col-md-1">
                                <mat-icon aria-hidden="true" color="accent">find_in_page</mat-icon>
                            </div>
                            <div class="col-md-11">
                                <h3 class="font-weight-bold">Forums</h3>
                                <p>
                                     Community organizing is the fundamental idea behind Shakedown. Build networks around Africa. Share with your community.
                                </p>
                            </div>
                        </div>
                     <div class="row detail text-smo-center" >
                              <div class="col-md-1">
                                    <mat-icon aria-hidden="true">star_rate</mat-icon>
                              </div>
                             <div class="col-md-11">
                                    <h3 class="font-weight-bold">Rate And review places</h3>
                                    <p>
                                            Choosing the best amongst the best can be a difficult task. With your user base reviews, that decision comes easy and quickly.
                                    </p>
                             </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <img class="listing-img" src="./assets/img/listings.png" alt="listing">
                </div>
            </div>
        -->