
<ng-container *ngIf="(auth.user | async) || {} as user">
<header class="header-01">
    <div class="header-2" [ngClass]="{'header-2-hd': changeHeader }">
        <div class="container">
            <div class="row text-smo-center intro">
                <div class="col-md-7 ">

                     <div [innerHTML]="heading"></div>
                     <p class="mar-30"><span class="app-title">Otenn</span> Allows you to send money back quickly and in a timely manner. From the comfort of your home, No more bank visits, no more huge bank fees. With just a few clicks, your money is deliverd back home.</p> 
                     <button mat-raised-button color="accent" class=""> Send money now</button> 

                </div>
                <div class="col-md-5 text-center">
                        <div *ngIf="auth.user | async; then authenticated else guest">
                                <!-- template will replace this div -->
                        </div>
                  <ng-template #guest>     
                  <div class="container signup">
                      <mat-tab-group class="tab-group">
                          <mat-tab label="Log In">
                            <h3>Have an Account? log in.</h3>
                              <form [formGroup]="loginForm" *ngIf="!user.uid" (ngSubmit)="login()">
                                    <div class="row">
                                            <div class="col-md-12">
                                                    <input type="email" id="email" class="form-control form-control-md"
                                                    formControlName="email" required placeholder="Log in Email">
                                           
                                                    <div *ngIf="formErrors.email" class="alert alert-danger">
                                                    {{ formErrors.email }}
                                                    </div>
                                            </div>
                                     </div>
                                     <div class="row">
                                            <div class="col-md-12">
                                                    <input type="password" id="password" class="form-control form-control-md"
                                                    formControlName="password" required placeholder="Enter your password">
                                           
                                                   <div *ngIf="formErrors.password" class="alert alert-danger">
                                                    {{ formErrors.password }}
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-12">
                                                       <!-- <div *ngIf="loginForm.valid" class="alert alert-success mar-30">Credentials Look Valid</div>-->
                                                    <button mat-raised-button color="primary" class="btn-100" type="submit" [disabled]="!loginForm.valid"><app-spinner name="mySpinnerl" [(show)]="spinnerShowingl"><i class="fa fa-spinner fa-spin"></i></app-spinner>Log In Now!</button>
                                                </div>
                                               <div class="col-md-12 text-center">
                                                <a mat-button  *ngIf="!passReset && loginForm.controls.email.valid" class="text-muted  mar-20 font-weight-bold" (click)="resetPassword()">Reset Password for <span class="text-info"><u>{{loginForm.value.email}}</u></span>?</a>
                                                <p *ngIf="passReset" class="alert alert-info">Reset requested. Check your email for instructions.</p>
                                              </div>
                                       </div>
                              </form>
                          </mat-tab>
                          <mat-tab label="Sign Up">
                              <form [formGroup]="signupForm" *ngIf="!user.uid" (ngSubmit)="signup()">
                                  <div class="row">
                                    <div class="col-md-12">
                                        <input type="email" class="form-control form-control-md"
                                         id="email" placeholder="Your Email"
                                         [class.text-danger]="email.invalid && email.dirty"
                                         formControlName="email" required autocomplete="off"
                                         >
                                         <div *ngIf="email.invalid && email.dirty" class="alert alert-danger">
                                            Your email doesn't look quite right...
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-12">
                                          <input type="password" class="form-control
                                           form-control-md" id="password" placeholder="New Password" 
                                           [class.text-danger]="password.invalid && password.touched"
                                          formControlName="password" required>

                                          <div *ngIf="password.invalid && password.touched" class="alert alert-danger">
                                            Password must be between 6 and 24 chars and have at least one number 
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                        <div class="col-md-12">
                                            <input type="password" class="form-control
                                             form-control-md" id="confirmPassword" placeholder="Confirm New Password" 
                                             [class.text-danger]="confirmPassword.invalid && confirmPassword.touched"
                                            formControlName="confirmPassword" required>
  
                                            <!--<div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="alert alert-danger">
                                              Password Doesn't Match! 
                                            </div>-->
                                            <div class="alert alert-danger" *ngIf="signupForm.controls.confirmPassword.errors?.MatchPassword">Password not match</div>
                                        </div>
                                    </div>
                                  <div class="row">
                                      <div class="col-md-12">
                                          <button mat-raised-button color="primary" class="btn-100" type="submit" [disabled]="!signupForm.valid"><app-spinner name="mySpinners" [(show)]="spinnerShowings"><i class="fa fa-spinner fa-spin"></i></app-spinner>Sign Up Now!</button>
                                      </div>
                                  </div>
                              </form>
                             <!-- <form [formGroup]="detailForm" *ngIf="user.uid && !user.catchPhrase" (ngSubmit)="setCatchPhrase(user)">
                                <div class="row">
                                  <div class="col-md-6">
                                      <input type="text" class="form-control form-control-md" id="f-name" 
                                      placeholder="First Name" 
                                      formControlName="catchPhrase"
                                       required autocomplete="off">
                                  </div>
                                  <div class="col-md-6">
                                      <input type="text" class="form-control form-control-md" id="lgFormGroupInput" placeholder="First Name">
                                  </div>
                                </div>
                              </form>
                              <p *ngIf="user.catchPhrase" class="text-success">
                                You have completed the form!
                            </p>-->
                          </mat-tab>
                      </mat-tab-group>
                      <div class="or-cl"><span>Alternatively</span></div>
                      <div class="container signupbuttons">
                        <div class="row">
                          <div class="col-md-6">
                            <button mat-raised-button class="facebook" (click)="auth.facebookLogin()"><app-spinner name="mySpinnerf" [(show)]="spinnerShowingf"><i class="fa fa-spinner fa-spin"></i></app-spinner> facebook</button>
                          </div>
                          <div class="col-md-6">
                              <button mat-raised-button class="google" (click)="auth.googleLogin()"><app-spinner name="mySpinnerg" [(show)]="spinnerShowingg"><i class="fa fa-spinner fa-spin"></i></app-spinner> Google</button>
                          </div>
                        </div>
                      </div>
                  </div>
                </ng-template>

                <ng-template #authenticated >
                    <h2>{{user.displayName.username | ucfirst | shorten: 8: '..'}} Site Statistics</h2>
                    <user-piechart *ngIf='_reviewGood && _reviewBad' [userId]='user.uid'
                    [view]="user.view"
                    [reviewBad]='_reviewBad' [reviewGood]='_reviewGood'></user-piechart>
                </ng-template>
                </div>
            </div>
        </div>
    </div>
</header>
</ng-container>